
<div class="body">
    <div class="header"><i class="fa fa-language" style="font-size:28px;color:rgb(43, 8, 185)"></i> Talk In Tongues - Language Translator
     <i class="fa fa-language" style="font-size:28px;color:rgb(43, 8, 185)"></i></div>
     <div class="container">
      
       <div class="wrapper">
         <div class="text-input">
           <textarea spellcheck="false" [(ngModel)]="fromText" placeholder="Enter text"></textarea>
           <textarea spellcheck="false" readonly disabled [(ngModel)]="toText" placeholder="Translation"></textarea>
         </div>
         <ul class="controls">
           <div id="speech-to-text">
             <button id="micButton">🎙️</button>
           </div>
           <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
           <li class="row to">
          <select class="fromText" id="fromText" [(ngModel)] = "fromLang">
             
            <option *ngFor="let lingo of lang;" [value] = "lingo.code" [selected] = "lingo.code ==='auto'">{{ lingo.name }}</option>>
          </select>

          <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
          <li class="row to">
            <select class="toText" id="toText" [(ngModel)] = "toLang">
            
              <option *ngFor="let lingo of lang;" [value]= "lingo.code" [selected]= "lingo.code==='hi'">{{ lingo.name }}</option>
            </select>
             <!-- <div class="icons">
               <i id="to" class="fas fa-volume-up"></i>
               <i id="to" class="fas fa-copy"></i>
             </div> -->
           </li>
         </ul>
       </div>
       <div >
         <button class="trans" (click)="translate()">Translate</button>
         <button class="clear">Clear</button>
      </div>
 
     </div>
   </div>
 